/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
@import "~bootstrap/dist/css/bootstrap.css";

body {

    //pagina uiGradients

    //background: #1F1C2C;
    /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);
    /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #928DAB, #1F1C2C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('./assets/usuarios.png');
    //background-image: url('./assets/usuarios.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; //ocupar toda la pantalla
    height: 100vh; //ocupe toda la pantalla


}